* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0 !important
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
[hidden] {
    display: none
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    margin: 0;
    font-size: 10px;
    line-height: 1.231;
    -webkit-font-smoothing: antialiased
}
