
// Blueant Color Library

$cobalt: #101D22;
$plasticBlue: #2B8AB8;
$blueAlternate: #0393FF;
$aquaBlue: #1E6B89;
$neonBlue: #2AB5D2;
$neoBlack: #0F1B21;
$blueMetal: #50666D;

$steel: #BDCCD4;
$graphite: #3D454D;
$neoBlack: #231611;
$pewter: #E1E1E1;

// Solarized Palette

$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$blue           : #2176C7;



